# --- SICHERHEIT ---
.env
.envrc
secrets.json

# --- PYTHON SYSTEMDATEIEN ---
__pycache__/
*.py[codz]
*$py.class
.ipynb_checkpoints

# --- VIRTUELLE UMGEBUNGEN ---
.venv
venv/
env/
bin/
lib/
include/

# --- IDE EINSTELLUNGEN ---
.vscode/
.idea/
.DS_Store
Thumbs.db
